/* compact [
	../prive/spip_style.css
	../extensions/porte_plume/css/barre_outils_prive.css
	../extensions/porte_plume/css/barre_outils.css
	page=barre_outils_icones.css
	page=cfg.css
] 79.5% */

/* ../prive/spip_style.css */
h3.spip{text-align:center;margin-top:2em;margin-bottom:1.4em;font-size:1.15em;font-weight:bold;}
hr.spip{margin:2em auto;} 
ol.spip{list-style:decimal;}
blockquote.spip{margin:2em 0;margin-left:1em;padding-left:1em;border-left:1px dotted #aaa;}
blockquote.spip_poesie{margin:2em 0;margin-left:1em;padding-left:1em;border-left:1px solid #aaa;}
blockquote.spip_poesie div{text-indent:-3em;margin-left:3em;}
.spip_code,.spip_cadre{font-family:Courier,"Courier New",monospace;color:#036;}
.spip_cadre{width:99%;background-color:#F4F8F8;border:1px inset;font-size:inherit;}
div.spip_code,.spip_cadre{margin-bottom:1em;}
.spip_surligne{background:#FF6;}
table.spip{max-width:99%;margin-right:auto;margin-left:auto;margin-bottom:1em;border-collapse:collapse;border-spacing:0;line-height:normal;}
table.spip caption{caption-side:top;text-align:center;margin-right:auto;margin-left:auto;font-weight:bold;}
table.spip tr.row_first{background:#FFC;}
table.spip tr.row_odd{background:#EEE;}
table.spip tr.row_even{background:#DDD;}
table.spip th,table.spip td{padding:0.20em 0.40em;text-align:left;border:1px solid;}
table.spip th{vertical-align:bottom;font-weight:bold;}
table.spip td{vertical-align:top;}
img,.spip_logos{margin:0;padding:0;border:0;}
.spip_documents{text-align:center;line-height:normal;}
.spip_documents p{margin:0.10em;padding:0;}
.spip_documents_center{display:block;clear:both;width:100%;margin:1em auto;}
.spip_documents_left{float:left;margin-right:15px;margin-bottom:5px;}
.spip_documents_right{float:right;margin-left:15px;margin-bottom:5px;}
.spip_doc_titre{margin-right:auto;margin-left:auto;font-weight:bold;font-size:0.90em;}
.spip_doc_descriptif{clear:both;margin-right:auto;margin-left:auto;font-size:0.90em;}
.spip_modele{float:right;display:block;padding:1em;border:1px solid;width:180px;}   
a.spip_mail{color:#900;}
a.spip_mail:before{content:"\002709";}
a.spip_out{color:#009;}
a.spip_url{color:#009;}
a.spip_glossaire{color:#060;}
a.spip_glossaire:hover{text-decoration:underline overline;}
.on{font-weight:bold;}

/* ../extensions/porte_plume/css/barre_outils_prive.css */
.formulaire_spip textarea.markItUpEditor,.formulaire_spip li.editer_texte textarea{width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;}
.markItUp .markItUpPreview{font-size:1.05em;line-height:1.4em;}

/* ../extensions/porte_plume/css/barre_outils.css */
.markItUp .markItUpHeader a,.markItUp .markItUpTabs a,.markItUp .markItUpFooter a{color:#000;text-decoration:none;}
.markItUp{margin:5px 0 5px 0;clear:both;}
.markItUp .markItUpContainer{margin:0px;padding:0px;}
.markItUp .markItUpEditor{clear:both;display:block;overflow:auto;}
#text_area{height:300px;} 
.markItUp .markItUpFooter{margin:0px;padding:0px;width:100%;}
.markItUp .markItUpResizeHandle{overflow:hidden;width:22px;height:5px;margin-left:auto;margin-right:auto;background-image:url("http://127.0.0.1/spip/extensions/porte_plume/css/images/handle.png");cursor:ns-resize;}
.markItUp .markItUpTabs{text-align:right;padding:1px 1px 0;margin-bottom:-1px;margin-top:3px;overflow:hidden;width:auto;float:right;margin-right:30px;clear:both;}
.markItUp .markItUpTabs a{display:block;float:right;border:1px solid #ccc;margin:0px 1px;padding:3px 4px 2px 4px;background:#f0f0f0;}
.markItUp .markItUpTabs a.on{background:#fff;border-bottom:1px solid #fff;}
.markItUp .markItUpTabs a:hover{background:#fff;}
.markItUp .markItUpPreview{clear:both;border:1px solid #ccc;background:#fff;overflow:auto;padding:1em;}
.markItUp .preview p{margin-bottom:1em;}
.markItUp .preview ul{margin-bottom:1em;margin-top:0.5em;}
.markItUp .preview li{border:none;padding:1px;}
.markItUp .preview .cadre ol,.markItUp .preview .cadre ul{padding:0.5em;}
.markItUp .markItUpHeader{margin:0px;padding:0px;}
.markItUp .markItUpHeader ul{margin:0 !important;padding:0;}
.markItUp .markItUpHeader ul li{list-style:none;float:left;position:relative;clear:none;border:0;margin:0;padding:0;overflow:visible;}
.markItUp .markItUpHeader ul li:first-child{padding-top:0;} 
.markItUp .markItUpHeader ul .markItUpDropMenu li{margin-right:0px;background-color:#eee;padding:1px 0px 1px 1px;}
.markItUp .markItUpHeader ul ul{display:none;position:absolute;top:24px;left:-1px;width:150px;z-index:2;padding-top:2px;}
.markItUp .markItUpHeader ul ul li{float:left;}
.markItUp .markItUpHeader ul ul .markItUpDropMenu{background:#F5F5F5 url("http://127.0.0.1/spip/extensions/porte_plume/css/images/submenu.png") no-repeat 50% 50%;}
.markItUp .markItUpHeader ul .markItUpSeparator{margin:0 6px;width:0px;height:16px;overflow:hidden;}
.markItUp .markItUpHeader ul ul .markItUpSeparator{width:auto;height:1px;margin:0px;}
.markItUp .markItUpHeader ul a{display:block;width:16px;height:16px;text-indent:-10000px;background-repeat:no-repeat;background-position:50% 50%;background-color:#f5f5f5;border:1px solid #ccc;padding:3px;margin-right:1px;}
.markItUp .markItUpHeader ul a:hover{border:1px solid #888;background-color:#fff;}

/* page=barre_outils_icones.css */
.markItUp .outil_header1 a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/intertitre.png);}
.markItUp .outil_bold a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/text_bold.png);}
.markItUp .outil_italic a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/text_italic.png);}
.markItUp .outil_stroke_through a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/text_strikethrough.png);}
.markItUp .outil_liste_ul a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/text_list_bullets.png);}
.markItUp .outil_liste_ol a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/text_list_numbers.png);}
.markItUp .outil_indenter a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/text_indent.png);}
.markItUp .outil_desindenter a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/text_indent_remove.png);}
.markItUp .outil_quote a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/quote.png);}
.markItUp .outil_link a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/lien.png);}
.markItUp .outil_notes a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/notes.png);}
.markItUp .outil_guillemets a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/guillemets.png);}
.markItUp .outil_guillemets_simples a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/guillemets-simples.png);}
.markItUp .outil_guillemets_de a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/guillemets-de.png);}
.markItUp .outil_guillemets_de_simples a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/guillemets-uniques-de.png);}
.markItUp .outil_guillemets_uniques a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/guillemets-uniques.png);}
.markItUp .outil_caracteres a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/keyboard.png);}
.markItUp .outil_a_maj_grave a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/agrave-maj.png);}
.markItUp .outil_e_maj_aigu a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/eacute-maj.png);}
.markItUp .outil_e_maj_grave a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/eagrave-maj.png);}
.markItUp .outil_aelig a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/aelig.png);}
.markItUp .outil_aelig_maj a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/aelig-maj.png);}
.markItUp .outil_oe a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/oelig.png);}
.markItUp .outil_oe_maj a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/oelig-maj.png);}
.markItUp .outil_ccedil_maj a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/ccedil-maj.png);}
.markItUp .outil_uppercase a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/text_uppercase.png);}
.markItUp .outil_lowercase a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/text_lowercase.png);}
.markItUp .outil_clean a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/clean.png);}
.markItUp .outil_preview a{background-image:url(http://127.0.0.1/spip/extensions/porte_plume/icones_barre/eye.png);}
.ajaxLoad{background:white url('http://127.0.0.1/spip/prive/images/searching.gif') top left no-repeat;}

/* page=cfg.css */
.cfg_arbo h5{padding:0.2em 0.2em;margin:0.2em 0;cursor:pointer;}
.cfg_arbo ul{border:1px solid #ccc;margin:0;padding:0.2em 0.5em;list-style-type:none;}
.crayon-icones em.crayon-config{background:url() no-repeat;height:20px;width:20px;cursor:pointer;display:none;}
.crayon-changed em.crayon-config{display:none;}
body.cfg #page .formulaire_spip{margin-bottom:2em;}
.formulaire_configurer p.boutons .save{color:#3E7735;}
.formulaire_configurer p.boutons .delete{color:#803923;float:left;}
.formulaire_configurer p.boutons .reset{font-size:1em;margin-top:3px;margin-right:5px;font-weight:bold;color:#666;float:left;}

