<plugin>
	<nom>Squelette Sarka-SPIP 3</nom>
	<auteur>
SarkARchimeD (Xavier), SarkASmeL (Eric) et Franck pour les nouveaux logos Sarka-SPIP
_ SarkAFeeK (Toufik), SarkALeoN (Sylvain), SarkANosS (Pascal) pour les versions pr&eacute;c&eacute;dentes 
	</auteur>
	<licence>
		GPL v3 - &copy; 2005-2009
	</licence>
	<version>3.0.3</version>
	<etat>stable</etat>
	<icon>prive/images/sarka-spip.png</icon>
	<description>
{{Ce plugin active ou d&eacute;sactive le squelette Sarka-SPIP }} :

_ Consulter la rubrique [Sarka-Zone->http://www.sarka-spip.net/spip.php?rubrique156] pour apprendre &agrave; installer le squelette et la rubrique 
[Sarka-Doc->http://www.sarka-spip.net/spip.php?rubrique136] pour apprendre &agrave; le configurer et &agrave; l'utiliser.

Cette version est compatible avec SPIP 2.
	</description>
	<lien>[->http://www.sarka-spip.net]</lien>

	<prefix>SarkaSpip</prefix>
	<fonctions>sarkaspip_fonctions.php</fonctions>
	<options>sarkaspip_options.php</options>
	
	<pipeline>
    <nom>insert_head</nom>
    <inclure>sarkaspip_pipelines.php</inclure>
    </pipeline>
	<pipeline>
    <nom>mes_fichiers_a_sauver</nom>
    <inclure>sarkaspip_pipelines.php</inclure>
    </pipeline>
	<pipeline>
    <nom>zengarden_activer_theme</nom>
    <inclure>sarkaspip_pipelines.php</inclure>
    </pipeline>
	<pipeline>
    <nom>zengarden_effacer_theme</nom>
    <inclure>sarkaspip_pipelines.php</inclure>
    </pipeline>
	<pipeline>
    <nom>zengarden_apercevoir_theme</nom>
    <inclure>sarkaspip_pipelines.php</inclure>
    </pipeline>
	
	<bouton id="sarkaspip_cfg" parent="configuration">
	<icone>prive/images/sarka-spip-cfg.png</icone>
		<titre>sarkaspip:bouton_configurer</titre>
		<url>cfg</url>
		<args>cfg=sarkaspip_accueil</args>
	</bouton>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.0;]" />
	<necessite id="cfg" version="[1.7.6;]" />
	<utilise id="rainette" />
</plugin>
