<plugin>
	<nom>Sarka-SPIP Ecology</nom>
	<auteur><a href='http://www.zest.shizuka.fr'>_Shizuka_</a></auteur>
	<licence><a href='http://creativecommons.org/licenses/by/2.5/' rel='licence'>Creative Commons Attribution 2.5 License</a></licence>
	<version>0.1</version>
	<description>Un th&egrave;me couleur nature pour un layout fixe de 1024 pixels de large. Certaines images proviennent du <a href='http://dryicons.com/'> site dryicons.com </a>, vous &ecirc;tes tenu de laisser cette mention dans le pied de page</description>
	<icon>vignette.jpg</icon>
	<etat>stable</etat>
	<prefix>theme</prefix>
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>