<plugin>
	<nom>Sarka-SPIP Blueblur</nom>
	<auteur>C&eacute;dric Couvrat</auteur>
	<licence><a href='http://creativecommons.org/licenses/by/2.5/' rel='licence'>Creative Commons Attribution 2.5 License</a></licence>
	<version>0.1</version>
	<description>Un th&egrave;me bas&eacute; sur <a href='http://www.openwebdesign.org/viewdesign.phtml?id=5298&referer=%2Fbrowse.php%3Fpage%3D3'>metamorph_blueblur</a> pour un layout fixe de 1024 pixels de large.</description>
	<icon>vignette.jpg</icon>
	<etat>stable</etat>
	<prefix>theme</prefix>
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>