<plugin>
	<nom>Sarka-SPIP Spring</nom>
	<auteur><a href='http://www.zest.shizuka.fr'>_Shizuka_</a></auteur>
	<licence><a href='http://creativecommons.org/licenses/by/2.5/' rel='licence'>Creative Commons Attribution 2.5 License</a></licence>
	<version>0.1</version>
	<description>Un th&egrave;me original de la s&eacute;rie des 4 saisons. Layout fixe 1024px. Les colonnes peuvent se placer aussi bien &agrave; gauche qu &rsquo; &agrave; droite. </description>
	<icon>vignette.jpg</icon>
	<etat>stable</etat>
	<prefix>theme</prefix>
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>